canvas {
    display: block;
    margin: auto;
    border: 1px solid #006699;
border-radius: 10px;
background-color: #DDD;
	-moz-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);
	-webkit-box-shadow: 5px 5px 5px rgba(68,68,68,0.6);

}


#playbutton {
    width: 100px;
    height: 50px;
    display: block;
    margin: auto;
    margin-top: 10px;
    font-family: Arial, sans-serif;
    font-size: 30px;
    font-weight: bold;
    background-color: #DDD;
    cursor: pointer;
}
