
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "PT Sans", "Helvetica", sans-serif;
  font-size: 14px;

  /*                background: #2c2d44;
                  background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
                  background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
                  background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);*/
}

.backgroundDefalt{
  background: #2c2d44;
  background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
  background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
  background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);
}

.leaderBg{
  background-image: -webkit-radial-gradient(ellipse farthest-corner at center top, #9ab1c7 0%, #1a242f 100%);
  background-image: radial-gradient(ellipse farthest-corner at center top, #9ab1c7 0%, #1a242f 100%);
}

.gradient-1 {
  background-color: #303641;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.2) 100%), -webkit-linear-gradient(left, #192129, #303641, #484e57);
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 60%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(90deg, #192129, #303641, #484e57);
  background-size: 5px, 100%;
}

.gradient-2 {
  background-color: #303641;
  background-image: -webkit-linear-gradient(315deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.2) 100%), -webkit-linear-gradient(left, #192129, #303641, #484e57);
  background-image: linear-gradient(135deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.1) 25%, rgba(0, 0, 0, 0.2) 50%, rgba(0, 0, 0, 0.1) 75%, rgba(0, 0, 0, 0.2) 100%), linear-gradient(90deg, #192129, #303641, #484e57);
  background-size: 8px 8px, 100%;
}
.gradient-3 {
  background-color: #6d6875;
  background-image: -webkit-linear-gradient(left, rgba(109, 104, 117, 0.1) 0%, rgba(255, 180, 162, 0.2) 60%, rgba(109, 104, 117, 0.1) 100%), -webkit-linear-gradient(left, #6d6875, #b5838d, #e5989b, #ffb4a2, #ffcdb2);
  background-image: linear-gradient(to right, rgba(109, 104, 117, 0.1) 0%, rgba(255, 180, 162, 0.2) 60%, rgba(109, 104, 117, 0.1) 100%), linear-gradient(90deg, #6d6875, #b5838d, #e5989b, #ffb4a2, #ffcdb2);
  background-size: 5px, 100%;
}
.gradient-4 {
  background-color: #6d6875;
  background-image: -webkit-linear-gradient(315deg, rgba(109, 104, 117, 0.2) 0%, rgba(255, 180, 162, 0.1) 25%, rgba(109, 104, 117, 0.2) 50%, rgba(255, 180, 162, 0.1) 75%, rgba(109, 104, 117, 0.2) 100%), -webkit-linear-gradient(left, #6d6875, #b5838d, #e5989b, #ffb4a2, #ffcdb2);
  background-image: linear-gradient(135deg, rgba(109, 104, 117, 0.2) 0%, rgba(255, 180, 162, 0.1) 25%, rgba(109, 104, 117, 0.2) 50%, rgba(255, 180, 162, 0.1) 75%, rgba(109, 104, 117, 0.2) 100%), linear-gradient(90deg, #6d6875, #b5838d, #e5989b, #ffb4a2, #ffcdb2);
  background-size: 6px 6px, 100%;
}
.gradient-5 {
  background-color: #d8dbe2;
  background-image: -webkit-repeating-radial-gradient(0 100%, circle, rgba(27, 27, 30, 0.1), rgba(88, 164, 176, 0.15) 1px, rgba(216, 219, 226, 0.2) 2px, rgba(88, 164, 176, 0.15) 3px, rgba(27, 27, 30, 0.1) 4px), -webkit-radial-gradient(0 100%, circle, #1b1b1e, #373f51, #58a4b0, #a9bcd0, #d8dbe2);
  background-image: repeating-radial-gradient(circle at 0 100%, rgba(27, 27, 30, 0.1), rgba(88, 164, 176, 0.15) 1px, rgba(216, 219, 226, 0.2) 2px, rgba(88, 164, 176, 0.15) 3px, rgba(27, 27, 30, 0.1) 4px), radial-gradient(circle at 0 100%, #1b1b1e, #373f51, #58a4b0, #a9bcd0, #d8dbe2);
}
.gradient-6 {
  background-color: #f3a183;
  background-image: -webkit-linear-gradient(transparent 0px, transparent 49px, rgba(255, 255, 255, 0.2) 50px, transparent 51px, transparent 99px, rgba(255, 255, 255, 0.2) 100px), -webkit-linear-gradient(330deg, transparent 0, transparent 48px, rgba(255, 255, 255, 0.2) 49px, transparent 50px, transparent 98px, rgba(255, 255, 255, 0.2) 99px, transparent 100px), -webkit-linear-gradient(30deg, transparent 0, transparent 48px, rgba(255, 255, 255, 0.2) 49px, transparent 50px, transparent 98px, rgba(255, 255, 255, 0.2) 99px, transparent 100px), -webkit-linear-gradient(left, #f3a183, #eC6f66);
  background-image: linear-gradient(transparent 0px, transparent 49px, rgba(255, 255, 255, 0.2) 50px, transparent 51px, transparent 99px, rgba(255, 255, 255, 0.2) 100px), linear-gradient(120deg, transparent 0, transparent 48px, rgba(255, 255, 255, 0.2) 49px, transparent 50px, transparent 98px, rgba(255, 255, 255, 0.2) 99px, transparent 100px), linear-gradient(60deg, transparent 0, transparent 48px, rgba(255, 255, 255, 0.2) 49px, transparent 50px, transparent 98px, rgba(255, 255, 255, 0.2) 99px, transparent 100px), linear-gradient(90deg, #f3a183, #eC6f66);
  background-size: 100px 100px, 115px 100px, 115px 100px, auto;
}
.gradient-7 {
  background: -webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.2)),-webkit-linear-gradient(108deg,#e0da81,#e0a681 10%,#0f1b58 90%)
}
.gradient-8 {
  background:-webkit-radial-gradient(closest-corner,rgba(16,47,70,0) 60%,rgba(16,47,70,0.26)),-webkit-linear-gradient(108deg,#26d0ce,#1a2980 90%);
}
.gradient-9 {
  background: -moz-radial-gradient(center, ellipse cover, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(150, 150, 150, 1)), color-stop(100%, rgba(89, 89, 89, 1)));
  background: -webkit-radial-gradient(center, ellipse cover, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%);
  background: -o-radial-gradient(center, ellipse cover, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%);
  background: -ms-radial-gradient(center, ellipse cover, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%);
  background: radial-gradient(ellipse at center, rgba(150, 150, 150, 1) 0%, rgba(89, 89, 89, 1) 100%);
}
.gradient-10 {
  background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}


.bg{
  padding-right:10px;
  overflow-x: auto;
  height: 60%
}

.prevBb{
  height: 50px;
  margin-bottom: 5px;
  cursor: pointer
}


#particles-background,
#particles-foreground {
  position: fixed;
  left: 0;
  top:0;
  width: 100%;
  height: 100%;
  z-index: -10;
  /*                -webkit-transform: scale3d(0.5, 0.5, 1);
                  -moz-transform: scale3d(0.5, 0.5, 1);
                  -ms-transform: scale3d(0.5, 0.5, 1);
                  -o-transform: scale3d(0.5, 0.5, 1);
                  transform: scale3d(0.5, 0.5, 1);*/
}
#particles-background {
  /*    background: #2c2d44;
      background-image: -moz-linear-gradient(45deg, #3f3251 2%, #002025 100%);
      background-image: -webkit-linear-gradient(45deg, #3f3251 2%, #002025 100%);
      background-image: linear-gradient(45deg, #3f3251 2%, #002025 100%);*/
}


#pnClock{
  right: 10%;
  opacity: .4;
  position: absolute;
  top: 32%;  
  -webkit-transition: all 0.5s ease-in-out;
}
.newPositPnClock{
  right: 30% !important;
  top: 38%!important; 
}


#clock{
  position: relative;
  width: 180px;
  height: 180px;
  background-color: #ffffff;
  border: solid 20px #1f76a3;
  border-radius: 50%;
  /*transition: all 0.5s ease-in-out;*/
  /*-webkit-transition: all 0.5s ease-in-out;*/
}
#pnClock .clock_date{
  text-align: center;
  padding-bottom: 15px;
  color: #ffffff;
}
#pnClock .clock_date span:nth-child(2){
  font-size: 22px;
  font-weight: bold;
}
#pnClock .digital{
  padding-top: 15px;
  font-size: 18px;
  color: #ffffff;
  text-align: center
}
#clock .hours{
  position: absolute;
  width: 3px;
  height: 55px;
  top: 50%;
  left: 50%;
  margin: -55px 0 0 -1px;
  background-color: #333;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;

  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;

}
#clock .minutes{
  position: absolute;
  width: 4px;
  height: 75px;
  top: 50%;
  left: 50%;
  margin: -75px 0 0 -2px;
  background-color: #333;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;

  transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
}
#clock .seconds{
  position: absolute;
  width: 2px;
  height: 80px;
  top: 50%;
  left: 50%;
  margin: -80px 0 0 -1px;
  background-color: #fe0505;
  -webkit-transform-origin: bottom center;
  transform-origin: bottom center;
}
#clock .point{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 4px;
  height: 14px;
  margin: -7px 0 0 -2px;
  background-color: #b7b8ba;
}
#clock .point:nth-child(1){
  -webkit-transform: translateY(-90px);
  transform: translateY(-90px);
}
#clock .point:nth-child(2){
  -webkit-transform: translateX(-90px) rotate(90deg);
  transform: translateX(-90px) rotate(90deg);
}
#clock .point:nth-child(3){
  -webkit-transform: translateY(90px);
  transform: translateY(90px);
}
#clock .point:nth-child(4){
  -webkit-transform: translateX(90px) rotate(90deg);
  transform: translateX(90px) rotate(90deg);
}
#clock .center{
  position: absolute;
  width: 10px;
  height: 10px;
  top: 50%;
  left: 50%;
  margin: -5px 0 0 -5px;
  background-color: #333;
  border-radius: 50%;
}

nav {
  background-color: rgba(0, 0, 0, 0.19) !important;
  height: 45px!important;
  line-height: 45px!important;
}

.row .col {
  padding: 0;
}

.input-field{
  color: #fff !important;
  background: rgba(255, 255, 255, 0.17) !important;
  border-radius: 2px !important;
}
.switch label .lever{
  background-color: rgba(255, 255, 255, 0.38);
}

.switch label input[type=checkbox]:checked + .lever{
  background-color: #ffffff;  
}

.switch label input[type=checkbox]:checked + .lever:after {
  background-color: rgb(68, 177, 213);
}

.switch label .lever:after {
  background-color: #bfbfbf;
}

input[type=password]:not(.browser-default){
  margin: 0 !important;
  border-bottom: none !important;
  padding-left: 10px !important;
}

input[type=password]:not(.browser-default):focus:not([readonly]){
  border-bottom: none !important;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;   
}

input[type=password]:not(.browser-default):focus:not([readonly])+label{
  color: #9e9e9e !important;
  margin-left: -10px !important;
}

.input-field label:not(.label-icon).active {
  -webkit-transform: translateY(-165%) !important;
  transform: translateY(-165%) !important;
}

.select-wrapper input.select-dropdown {
    margin-bottom: 11px;
  border-bottom: none !important;
  padding-left: 10px !important;

}
.btn{
  text-transform: none !important;
}

nav i{
  height: 30px; 
}

nav ul a {
  color: #ffffff !important;
}


.dropdown-content li>a, .dropdown-content li>span {
  color: #2f2f2f!important;
}


@media only screen and (max-width: 900px){
  #login {
    left: 3%;
    width: 460px;
  }
} 
@media only screen and (min-width: 901px){
  #login {
    left: 10%;
    width: 480px;
  }
} 

#login{
  top: 35%;
  position: absolute;
  height: 200px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
}
.loginHide{
  /*opacity: 0;*/
  top: 8%!important;
}

/*******************/

/*            .artist {
                width: 240px;
                height: 360px;
                margin-right: 20px;
                background: #282828;
            }*/
.artist:last-child {
  margin: 0;
}
.artist__thumbnail {
  position: relative;
  width: 200px;
  height: 200px;
  overflow: hidden;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.artist__blur_ {
  position: absolute;
  top: 0;
  left: 0;
  /*        -webkit-filter: blur(10px);
          filter: blur(10px);*/
  z-index: 1;
  width: 200px;
  height: 200px;
  opacity: .8;
  /*background-image: -webkit-linear-gradient(-150deg, #3f3251 2%, #002025 100%);*/

}
.artist__image {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  z-index: 3;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.artist__ring {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  background: -webkit-linear-gradient(left, rgba(255, 255, 255, 0.2) 0%, transparent 20%, transparent 80%, rgba(255, 255, 255, 0.2) 100%);
  background: linear-gradient(90deg, rgba(255, 255, 255, 0.2) 0%, transparent 20%, transparent 80%, rgba(255, 255, 255, 0.2) 100%);
  z-index: 2;
  box-shadow: 4px 0 2px -4px rgba(255, 255, 255, 0.9), -4px 0 2px -4px rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.artist__ring--outer {
  width: 180px;
  height: 180px;
}



/*Keyboard*/


#container {
  position: absolute;
  top: calc(35% + 206px);
  left: 10%;
}

#keyboard {
  margin: 0;
  padding: 0;
  list-style: none;
}
#keyboard li {
  /*    float: left;
      margin: 0 5px 5px 0;
      width: 40px;
      height: 40px;
      line-height: 40px;
      text-align: center;
      background: #fff;
      border: 1px solid #f9f9f9;
      -moz-border-radius: 5px;
      -webkit-border-radius: 5px;*/

  float: left;
  margin: 0 5px 5px 0;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background: rgba(255, 255, 255, 0.22);
  /* border: 1px solid #f9f9f9; */
  -moz-border-radius: 5px;
  -webkit-border-radius: 3px;
  color: #ffffff;

}
.capslock, .tab, .left-shift {
  clear: left;
}
#keyboard .tab, #keyboard .delete {
  width: 70px;
}
#keyboard .capslock {
  width: 80px;
}
#keyboard .return {
  width: 55px;
}
#keyboard .left-shift {
  width: 80px;
}
#keyboard .right-shift {
  width: 90px;
}
.lastitem {
  margin-right: 0;
}
.uppercase {
  text-transform: uppercase;
}
#keyboard .space {
  clear: left;
  width: 525px;
}
.on {
  display: none;
}
#keyboard li:hover {
  position: relative;
  top: 1px;
  left: 1px;
  border-color: #e5e5e5;
  cursor: pointer;
}




#pnMenuRight{
  position: fixed;
  width: 500px;
  height: 500px;
  right: -510px;
  padding-top: 60px; 
  padding-left: 10px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: -2px 0px 4px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: -2px 0px 4px 0px rgba(0,0,0,0.75);
  box-shadow: -2px 0px 4px 0px rgba(0,0,0,0.75);
  border-radius: 50%;
  transition: all 0.4s ease-in-out;
  z-index: 100;
  top: 10%;
}

#pnMenuRight label{
  font-size: 13px;
  color: #ffffff;

}

.grande{
  top: 0!important;
  width: 200px !important;
  height: 100% !important;
  right:0!important;
  border-radius: 0 !important;
}



/*****scrollbar*****/

.bg::-webkit-scrollbar {
  width: 13px;
}

/* Cor do indicador de rolagem */
.bg::-webkit-scrollbar-thumb:vertical,
.bg::-webkit-scrollbar-thumb:horizontal {
  background: #37474f;
  border: 1px solid #37474f;
  /*border-radius: 5px;*/
}

/* Cor do indicador de rolagem - ao passar o mouse */
.bg::-webkit-scrollbar-thumb:vertical:hover,
.bg::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #455a64
}


